
@{
    ViewBag.Title = "Reports6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Finalized Report</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Your report was successfully saved! This Work Order was flagged as needing additional tests. 
        A Seattle Sales Representative has been notified and will contact the customer.
        <a href="@Url.Action("index")" class="btn btn-warning">
            Return to Dashboard
        </a>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Report Summary for Work Order #2 - Pfizer</strong>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Work Order Num.</th>
                                    <th>Compound</th>
                                    <th>Assay's Ran</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_1</td>
                                    <td>Positive Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_2</td>
                                    <td>Negligible Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_3</td>
                                    <td>Negative Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>3 Assay Aggergate</td>
                                    <td>Slight Positive Correlation</td>
                                </tr>
                                <tr>
                                    <td>**This compound needs additional testing.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->


    </div>

    <div class="form-group">
        <label>Conclusions:</label>

    </div>
    <textarea class="form-control" rows="7">
    Led data in digital digital, integer broadband reducer, with disk gigabyte. Bridgeware, bypass, transponder broadband software high sampling bypass disk developer, kilohertz mainframe floating-point. Floating-point logarithmic silicon potentiometer procedural mainframe reflective integral. Software includes bus prototype connectivity network element infrared infrared. Capacitance computer data, sampling computer integral led cache. Extended broadband femtosecond cache device integral processor pc generator software software, bridgeware with gigabyte. Broadband plasma digital technician femtosecond feedback. Anomoly, remote read-only, encapsulated with transponder recognition software or remote supporting converter.
    
    Pc video inversion, frequency anomoly feedback ethernet normalizing. Processor prompt controller cache procedural fragmentation silicon record audio read-only, normalizing transponder high. Video, or, cache broadband extended phaselock harmonic debugged, broadband mainframe arrray feedback device procedural log. Read-only remote, transponder, gigabyte, controller integer.
    
    Pc video inversion, frequency anomoly feedback ethernet normalizing. Processor prompt controller cache procedural fragmentation silicon record audio read-only, normalizing transponder high. Video, or, cache broadband extended phaselock harmonic debugged, broadband mainframe arrray feedback device procedural log. Read-only remote, transponder, gigabyte, controller integer. 
    </textarea>
    <br />
</div>

<!-- /.row -->
