
@{
    ViewBag.Title = "Reports2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="page-header">Search Available Reports</h1>
        </div>
    </div>
    <div class="row">
        <div class="dual-list list-left col-md-6">
            <div class="well text-center">
                <div class="row">
                    <div class="col-md-12">
                        <div class="input-group">
                            <input type="text" name="SearchDualList" class="form-control" placeholder="Seach by Company Name or Quote Number" />
                            <span class="input-group-addon glyphicon glyphicon-search"></span>
                        </div>
                    </div>
                </div>
                <div class="row"><br /></div>
                <div class="row">
                    <div class="businessesreprorts">
                        <ul class="list-group">
                            <li class="list-group-item">3M Pharmaceuticals</li>
                            <li class="list-group-item">AbbVie</li>
                            <li class="list-group-item">ACDF-001</li>
                            <li class="list-group-item">Alcon</li>
                            <li class="list-group-item">ALEX-006</li>
                            <li class="list-group-item">Amgen</li>
                            <li class="list-group-item">Basi</li>
                            <li class="list-group-item">BENJ-003</li>
                            <li class="list-group-item">Biocon</li>
                            <li class="list-group-item">Bluepharma</li>
                            <li class="list-group-item">BUTT-333</li>
                            <li class="list-group-item">Cephalon</li>
                            <li class="list-group-item">CHQK-006</li>
                            <li class="list-group-item">CIEU-002</li>
                            <li class="list-group-item">CWIE-001</li>
                            <li class="list-group-item">Daiichi Sankyo</li>
                            <li class="list-group-item">Debiopharm</li>
                            <li class="list-group-item">DHEW-578</li>
                            <li class="list-group-item">DRAK-007</li>
                            <li class="list-group-item">EILT-004</li>
                            <li class="list-group-item">Eisai</li>
                            <li class="list-group-item">Elorac, Inc.</li>
                            <li class="list-group-item">Endo Pharmeceuticals</li>
                            <li class="list-group-item">Fresenius Kabi</li>
                            <li class="list-group-item">GPC Biotech</li>
                            <li class="list-group-item">Grifols</li>
                            <li class="list-group-item">HEAT-005</li>
                            <li class="list-group-item">HEFT-003</li>
                            <li class="list-group-item">Hoffmann-La Roche</li>
                            <li class="list-group-item">Hovione</li>
                            <li class="list-group-item">Ipca Laboratories</li>
                            <li class="list-group-item">JASO-002</li>
                            <li class="list-group-item">Johnson & Johnson</li>
                            <li class="list-group-item">Julphar</li>
                            <li class="list-group-item">KELS-003</li>
                            <li class="list-group-item">LEPO-849</li>
                            <li class="list-group-item">LISU-056</li>
                            <li class="list-group-item">LKEC-109</li>
                            <li class="list-group-item">LLEI-459</li>
                            <li class="list-group-item">LLIO-057</li>
                            <li class="list-group-item">LLMK-011</li>
                            <li class="list-group-item">Lupin Limited</li>
                            <li class="list-group-item">MAKA-010</li>
                            <li class="list-group-item">McGuff</li>
                            <li class="list-group-item">Menarini</li>
                            <li class="list-group-item">Merck KGaA</li>
                            <li class="list-group-item">MIKE-035</li>
                            <li class="list-group-item">MMCI-001</li>
                            <li class="list-group-item">NNLI-006</li>
                            <li class="list-group-item">Novartis</li>
                            <li class="list-group-item">Noxxon</li>
                            <li class="list-group-item">OOPL-036</li>
                            <li class="list-group-item">Orexo</li>
                            <li class="list-group-item">Orion Pharma</li>
                            <li class="list-group-item">Otsuka Pharmaceutical Co.</li>
                            <li class="list-group-item">PALU-009</li>
                            <li class="list-group-item">PARK-006</li>
                            <li class="list-group-item">Patheon</li>
                            <li class="list-group-item">Perrigo</li>
                            <li class="list-group-item"><a onclick="empty()" style="color: #333;">Pfizer</a></li>
                            <li class="list-group-item">Pliva</li>
                            <li class="list-group-item">POLO-002</li>
                            <li class="list-group-item">QASI-004</li>
                            <li class="list-group-item">QELT-009</li>
                            <li class="list-group-item">QTUI-007</li>
                            <li class="list-group-item">Ranbaxy Laboratories</li>
                            <li class="list-group-item">Renovo</li>
                            <li class="list-group-item">Shire Plc.</li>
                            <li class="list-group-item">STADA Arzneimittel</li>
                            <li class="list-group-item">Tasly</li>
                            <li class="list-group-item">THER-009</li>
                            <li class="list-group-item">THRE-024</li>
                            <li class="list-group-item">TIEU-003</li>
                            <li class="list-group-item">TLKE-052</li>
                            <li class="list-group-item">Torrent Pharmeceuticals</li>
                            <li class="list-group-item">TROY-001</li>
                            <li class="list-group-item">TUYK-007</li>
                            <li class="list-group-item">UCB</li>
                            <li class="list-group-item">UIRI-006</li>
                            <li class="list-group-item">UNILAB</li>
                            <li class="list-group-item">Vertex Pharmaceuticals</li>
                            <li class="list-group-item">Wockhardt</li>
                            <li class="list-group-item">Yuhan Corporation</li>
                            <li class="list-group-item">Zandu Pharmaceutials</li>
                            <li class="list-group-item">Zentiva</li>
                            <li class="list-group-item">ZULU-009</li>
                            <li class="list-group-item">ZYXY-010</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="well">
                <div class="row">
                    <div class="visible" id="empty">
                        <div class="col-md-12">
                            <h3>Company Name</h3>
                            <img src="~/Content/img/businessSil.png" width="200" height="184" id="centered" />
                            <br />
                            <!--Empty Form-->
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong>Work Order Breakdown</strong>
                                        </div>
                                        <!-- /.panel-heading -->
                                        <div class="panel-body">
                                            <div class="table-responsive">
                                                <table class="table table-striped">
                                                    <tbody>
                                                        <tr>
                                                            <td><strong>Pending # of Work Orders</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Completed # of Work Orders</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Pending # of Assays</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Completed # of Assays</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Pending # of Tests</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                        <tr>
                                                            <td><strong>Completed # of Tests</strong></td>
                                                            <td>-</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <!-- /.table-responsive -->
                                        </div>
                                        <!-- /.panel-body -->
                                    </div>
                                    <!-- /.panel -->
                                </div>
                                <!-- /.col-lg-6 -->
                            </div>
                        </div>
                        </div>
                        <!--Filled Out Form-->
                        <div class="hidden" id="full">
                            <div class="col-md-12">
                                <h3>Pfizer</h3>
                                <img src="~/Content/img/pfizer.png" width="200" height="125" id="centered" />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong>Work Order Breakdown</strong>
                                            </div>
                                            <!-- /.panel-heading -->
                                            <div class="panel-body">
                                                <div class="table-responsive">
                                                    <table class="table table-striped">
                                                        <tbody>
                                                            <tr>
                                                                <td><strong>Pending # of Work Orders</strong></td>
                                                                <td>3</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Completed # of Work Orders</strong></td>
                                                                <td>13</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Pending # of Assays</strong></td>
                                                                <td>15</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Completed # of Assays</strong></td>
                                                                <td>39</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Pending # of Tests</strong></td>
                                                                <td>45</td>
                                                            </tr>
                                                            <tr>
                                                                <td><strong>Completed # of Tests</strong></td>
                                                                <td>156</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /.table-responsive -->
                                            </div>
                                            <!-- /.panel-body -->
                                        </div>
                                        <!-- /.panel -->
                                        <a href="@Url.Action("Reports3")" class="btn btn-warning center-block">
                                            View Details
                                        </a>
                                    </div>
                                    <!-- /.col-lg-6 -->
                                </div>
                            </div>
                    </div>
            </div>
        </div>

    </div>
</div>
</div>

<script>
    $(function () {
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });
    });
</script>
<script>
    function empty() {

        if (jQuery('#empty').hasClass('visible')) {
            $('#empty').addClass('hidden');
        }

        jQuery('#full').removeClass('hidden').addClass('visible');
        $('#message').removeClass('hidden');
    }

    function full() {

        if (jQuery('#full').hasClass('visible')) {
            $('#full').addClass('hidden');
        }

        jQuery('#empty').removeClass('hidden').addClass('visible');
        $('#message').removeClass('hidden');
    }
</script>