
@{
    ViewBag.Title = "Reports3";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <h3 class="text-left">Pfizer Work Orders</h3>
    <h5 style="margin-left: 25px;">Pending # of Work Orders: 3</h5>
    <h5 style="margin-left: 25px;">Completed # of Work Orders: 13</h5>
    <div class="col-md-10">
        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <h3>Work Order #1</h3>
                    <h5>Compounds Tested:</h5>
                    <ul>
                        <li>Voltaren Opthalmic</li>
                        <li>Zanamivir</li>
                    </ul>
                </div>
            </div>
        </div>

        <a href="@Url.Action("Reports4")" style="color: #333;">
            <div class="well">
                <div class="row">
                    <div class="col-md-6">
                        <h3>Work Order #2</h3>
                        <h5>Compounds Tested:</h5>
                        <ul>
                            <li>Arpipiprazole</li>
                            <li>Ramelteon</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>

        <div class="well">
            <div class="row">
                <div class="col-md-6">
                    <h3>Work Order #3</h3>
                    <h5>Compounds Tested:</h5>
                    <ul>
                        <li>Glyburide</li>
                        <li>Nalfon</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
