@{
    ViewBag.Title = "Reports";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Reporting</h1>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>Please Choose a Report Type:</h2>
           
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <div class="row">
        <div class="col-sm-3">
            <a href="@Url.Action("Reports2")" class="btn btn-warning"> Work Orders
            </a>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-warning">Assay Results</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-warning">Compounds</button>
        </div>
        <div class="col-sm-3">
            <button type="button" class="btn btn-warning">Assay Tests</button>
        </div>
    </div>
  
    
    <!-- /.row -->
</div>


<!-- /.container-fluid -->

