
@{
    ViewBag.Title = "Reports6";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Finalized Report</h1>
        </div>

        <!-- /.col-lg-12 -->
    </div>
    <div class="alert alert-warning alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        Your report was successfully saved! This Work Order was flagged as needing additional tests. 
        A Seattle Sales Representative has been notified and will contact the customer.
        <a href="@Url.Action("index")" class="btn btn-warning">
            Return to Dashboard
        </a>

    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <strong>Report Summary for Work Order #2 - Pfizer</strong>
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Work Order Num.</th>
                                    <th>Compound</th>
                                    <th>Assay's Ran</th>
                                    <th>Result</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_1</td>
                                    <td>Positive Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_2</td>
                                    <td>Negligible Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>Assay #PFZR_Arp_3</td>
                                    <td>Negative Correlation</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Arpipiprazole</td>
                                    <td>3 Assay Aggergate</td>
                                    <td>Slight Positive Correlation</td>
                                </tr>
                                <tr>
                                    <td>**This compound needs additional testing.</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->


    </div>

    <div class="form-group">
        <label>Conclusions:</label>

    </div>
    <textarea class="form-control" rows="7"></textarea>
</div>
<!-- /.row -->
</div>
<!-- /.container-fluid -->