
@{
    ViewBag.Title = "Reports4_5";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />

<div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
    Tests added to report with Correlation Analysis. View report below by click on the Report Tab.
</div>

<br />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Work Order Summary Report
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#assaysran" data-toggle="tab">Assays Ran</a>
                        </li>
                        <li>
                            <a href="#report" data-toggle="tab">Report</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="assaysran">
                            <h3>Assay's Ran for Work Order #2 - Pfizer</h3>
                            <div class="row">
                                <div class="dual-list list-left col-md-5">
                                    <div class="well text-left">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                    <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"><br /></div>
                                        <ul class="list-group">
                                            <li class="list-group-item disabled">Compound: Arpipiprazole</li>
                                            <li class="list-group-item disabled">Assay #PFZR_Arp_1</li>
                                            <li class="list-group-item">Test PA1_2</li>
                                            <li class="list-group-item">Test PA1_3</li>
                                            <li class="list-group-item disabled">Assay #PFZR_Arp_2</li>
                                            <li class="list-group-item">Test PA2_2</li>
                                            <li class="list-group-item">Test PA2_3</li>
                                            <li class="list-group-item disabled">Assay #PFZR_Arp_3</li>
                                            <li class="list-group-item">Test PA3_2</li>
                                            <li class="list-group-item">Test PA3_3</li>
                                            <li class="list-group-item disabled">Compound: Ramelteon</li>
                                            <li class="list-group-item disabled">#PFZR_Ram_1</li>
                                            <li class="list-group-item">Test PR1_1</li>
                                            <li class="list-group-item">Test PR1_2</li>
                                            <li class="list-group-item">Test PR1_3</li>
                                            <li class="list-group-item">Test PR1_4</li>
                                            <li class="list-group-item disabled">#PFZR_Ram_2</li>
                                            <li class="list-group-item">Test PR2_1</li>
                                            <li class="list-group-item">Test PR2_2</li>
                                            <li class="list-group-item">Test PR2_3</li>
                                            <li class="list-group-item">Test PR2_4</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="list-arrows col-md-2 text-center">
                                    <button class="btn btn-default btn-sm move-left">
                                        <span class="glyphicon glyphicon-chevron-left"></span>
                                    </button>

                                    <button class="btn btn-default btn-sm move-right">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </button>
                                </div>

                                <div class="dual-list list-right col-md-5">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input-group">
                                                    <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
                                                    <span class="input-group-addon glyphicon glyphicon-search"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"><br /></div>
                                        <ul class="list-group">
                                            <li class="list-group-item selected">Test PA1_1</li>
                                            <li class="list-group-item selected">Test PA2_1</li>
                                            <li class="list-group-item selected">Test PA3_1</li>
                                        </ul>
                                        <div class="form-group">
                                            <label>Analysis to be Ran: </label>
                                            <br />
                                            <label class="checkbox-inline">
                                                <input type="checkbox" checked>Correlation Analysis
                                            </label>
                                            <br />
                                            <label class="checkbox-inline">
                                                <input type="checkbox">Significance Levels
                                            </label>
                                        </div>
                                        <br />
                                        <a href="@Url.Action("Reports4_5")" class="btn btn-warning center-block">Add to Report</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="report">
                            <h3>Report for Work Order #2 - Pfizer</h3>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><storng>Correlation Test for PA1_1</storng></h4>
                                    <img src="~/Content/img/1.png" width="444" height="277" />
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">Run Additional Tests
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><storng>Correlation Test for PA2_1</storng></h4>
                                    <img src="~/Content/img/2.png" width="444" height="277" />
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">Run Additional Tests
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><storng>Correlation Test for PA3_1</storng></h4>
                                    <img src="~/Content/img/3.png" width="444" height="277" />
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" value="">Run Additional Tests
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <h4><storng>Aggerate Correlation of PA1_1, PA2_1, and PA3_1</storng></h4>
                                    <img src="~/Content/img/4.png" width="444" height="277" />
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <div class="form-group">
                                        <label>Summary:</label>
                                        <textarea class="form-control" rows="3"></textarea>
                                        <br />
                                        <br />
                                        <a class="btn btn-success center-block" href="@Url.Action("Reports5")" style="color: #333;">View Report Summary</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<script>
    $(function () {

        $('body').on('click', '.list-group .list-group-item', function () {
            $(this).toggleClass('active');
        });
        $('.list-arrows button').click(function () {
            var $button = $(this), actives = '';
            if ($button.hasClass('move-left')) {
                actives = $('.list-right ul li.active');
                actives.clone().appendTo('.list-left ul');
                actives.remove();
            } else if ($button.hasClass('move-right')) {
                actives = $('.list-left ul li.active');
                actives.clone().appendTo('.list-right ul');
                actives.remove();
            }
        });
        $('.dual-list .selector').click(function () {
            var $checkBox = $(this);
            if (!$checkBox.hasClass('selected')) {
                $checkBox.addClass('selected').closest('.well').find('ul li:not(.active)').addClass('active');
                $checkBox.children('i').removeClass('glyphicon-unchecked').addClass('glyphicon-check');
            } else {
                $checkBox.removeClass('selected').closest('.well').find('ul li.active').removeClass('active');
                $checkBox.children('i').removeClass('glyphicon-check').addClass('glyphicon-unchecked');
            }
        });
        $('[name="SearchDualList"]').keyup(function (e) {
            var code = e.keyCode || e.which;
            if (code == '9') return;
            if (code == '27') $(this).val(null);
            var $rows = $(this).closest('.dual-list').find('.list-group li');
            var val = $.trim($(this).val()).replace(/ +/g, ' ').toLowerCase();
            $rows.show().filter(function () {
                var text = $(this).text().replace(/\s+/g, ' ').toLowerCase();
                return !~text.indexOf(val);
            }).hide();
        });

    });
</script>